{{define "content"}}




    <!-- In the content below the views will be dispalyed -->
<div class="container">
  <div class="columns is-multiline is-mobile">
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Customer Voice</p>
          <p class="subtitle is-7">A Smart Chatbot for Customer Service</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="http://localhost:1235/scan/">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>  
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Acquisition & onboarding</p>
          <p class="subtitle is-7">The Ultimate Talent aquisition Tool</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Training & Development</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Real-Time Insights</p>
          <p class="subtitle is-7">Efficiently Monitor KPI/OKR</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Risk Management</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Compliance</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Resource Streamlining</p>
          <p class="subtitle is-7">Allocation and Selection</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Performance Management</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Sales</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Marketing</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Quality Management</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Quality Control</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Safety and Health</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Maintenance</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Fixed Assets</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Financial Planning</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Operational Planning</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Financing</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Accounting</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Supply Chian</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Procurement</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Logistics & Transportation</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Inventory & Warehousing</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Project Management</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
    <div class="column is-one-fifth-desktop is-half-mobile" *ngFor="let card of cards">
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title is-6">Production Management</p>
          <p class="subtitle is-7">&nbsp;</p>
            <footer class="card-footer" style="height: 5px;">
              <p class="card-footer-item">
                <span>
                  <a href="#">Navigate</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="#">Learn</a>
                </span>
              </p>
            </footer>
        </div>
      </div>
    </div>
    <!--- --->
  </div>
</div>

{{end}}